.game-banner {
  position: relative;
  width: 100%;
  height: 100vh;
}
#game-banner {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.8);
  object-position: 0 40%;
}
.game-banner .title {
  position: absolute;
  top: 36vh;
  max-width: 800px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-weight: bold;
  font-size: 3.2rem;
  text-align: center;
  font-family: serif;
  color: #000;
}
.game-banner .red {
  color: #bb0808;
}
.game-banner .ue {
  font-weight: initial;
  -webkit-text-stroke: 0;
  color: #fff;
  text-shadow: 0px 2px 9px #ff2222;
}
.game-banner .text {
  font-size: 1.3rem;
  margin-top: 8rem;
  color: #fff;
  background-image: linear-gradient(to right, #801a1a 0%, #ff7062 51%, #801a1a 100%);
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 0;
  text-decoration: none;
  animation: versionfr 1.2s cubic-bezier(0.83, 0.12, 0.58, 1);
  animation-delay: .6s;
  animation-fill-mode: forwards;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
}
@keyframes versionfr {
  from {width: 0; opacity: .8;}
  to {width: 100%; opacity: 1;} 
}

.game-banner .stroke {
  -webkit-text-stroke: 10px #fff;
}


/* Galerie */
#mainImg {
  height: 260px;
  width: 340px;
  border-radius: 4px;
  object-fit: cover;
}
.infoVN {
  display: flex;
  gap: 16px;
  text-align: justify;
}
.gallery {
  display: flex;
}
main {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 260px;
  min-width: 110px;
}
main::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

main::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #1a2580 25%, #32819e 50%, #1a2580 75%); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
.row {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}
/* The grid: Four equal columns that floats next to each other */
.column {
  box-sizing: border-box;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
  border-radius: 2px;
  height: 80px;
  max-width: 100%;
  display: block;
}

.column img:hover {
  opacity: 1;
}

@media screen and (max-width: 700px), screen and (orientation: portrait) {
  .infoVN {
    flex-direction: column;
  }
  .gallery {
    margin: 20px 0;
  }
  #mainImg {
    display: block;
    margin: 0 auto;
    /*object-fit: cover;*/
  }
  main {
    min-width: 90px;
  }
}

/* discord */
.discord {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.discord-link {
  display: flex;
  color: #7289DA;
  align-self: center;
}
.discord .desc {
  text-align: start;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
#discord-logo {
  height: 60px;
  vertical-align: middle;
  margin: 0 10px;
}