@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  color-scheme: dark;
  --main-bg-color: #0f0f17;
  --secondary-bg-color: #26273b4f;

  /* Inutilisées mais peuvent servir */
  --progression-fate: rgb(5, 67, 149);
  --progression-ubw: rgb(134, 18, 5);
  --progression-hf: rgb(98, 46, 98);
  --progression-last-episode: rgb(5, 115, 34);
  --progression: rgb(102, 118, 5);
}

html {
  width: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}
body {
  width: 100%;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  color: #fff;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 8px;
}
header {
  grid-row: 1;
  background-color: var(--secondary-bg-color);
}
a {
  color: #2895f3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  margin-top: 2em;
  margin-bottom: 2em;
}
#header-box, #main, footer, header {
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
}
#header-box ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  vertical-align: middle;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 12px 0;
}
#header-box ul li {
  list-style: none;
}
#header-box ul li a {
  color: white;
  text-decoration: none;
  min-width: 90px;
  display: block;
  text-align: center;
  padding: 4px 16px;
}

/* Effet de soulignement au survol */
.hover-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hover-title {
	position: relative;
}
.hover-title::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 3px;
	background-color: whitesmoke;
	left: 50%;
	bottom: -10px;
	transition: all 0.3s ease-in-out;
}
.hover-container:hover .hover-title::after {
	width: 100%;
	left: 0;
}

section#main {
  grid-row: 2;
  max-width: 880px;
  color: #CCCCCC;
  padding: 10px;
  overflow: hidden;
  margin: auto;
}
section#main p{
  text-align: justify;
}

footer{
  grid-row: 3;
  text-align: center;
  padding: 10px;
  background-color: var(--secondary-bg-color);
}
#logo_trad {
  width: 40px;
  vertical-align: middle;
}

/* Boutons liens externes */
.social {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}
.social img {
  width: 34px;
  height: 34px;
  background-color: var(--secondary-bg-color);
  border-radius: 15%;
  padding: 8px;
  margin: 2px;
  transition: all 50ms ease-in-out;
}
.social-discord:hover img, .social-github:hover img, .social-youtube:hover img {
  transform: scale(1.1);
}
@media screen and (max-width: 1040px), screen and (orientation: portrait) {
  .social {
    display: none;
  }
}

/* index */
#discord-logo{
  height: 22px;
  vertical-align: middle;
  margin: 0 10px;
}
.discord-text {
  color: #7289DA;
}
.discord-text:hover {
  text-decoration: none;
}
.push-right{
  float: right;
}
#img-saber{
  float: left;
  height: 200px;
  margin-right: 20px;
  border-radius: 4px;
}
@media screen and (max-width: 700px), screen and (orientation: portrait) {
  #img-saber {
    margin: 20px auto;
    float: initial;
    display: block;
    object-fit: cover;
    width: 100%;
    object-position: top;
  }
}

/* À propos */
.team-list,.team-list li,.team-list ul {
  list-style-type: square;
  text-align: center;
  display: block;
  padding: 0;
}
.team-list h3 {
  margin-top: 2em;
  margin-bottom: 0.6em;
}