@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  color-scheme: dark;
  --main-bg-color: #0b0b0e;/*#0d0d11*/
  /*--secondary-bg-color: #2a2b3673;*/
  --secondary-bg-color: #262630;/*#2a2b364f;*/
  --header-height: 52px;
}

* {
  scroll-margin-top: var(--header-height);
}
html {
  width: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  color: #fff;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
a {
  color: #2895f3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  margin: 2em 0;
  border: none;
}
.noscript {
  background-image: linear-gradient(to right, #801a1a 0%, #ff7062 51%, #801a1a);
  padding: .1em;
  text-align: center;
}

/* header */
header {
  background-color: var(--secondary-bg-color);
  position: fixed;
  top: 0;
  z-index: 3;
}
#header-box, #main, footer, header {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.1rem;
}
#header-box ul {
  display: flex;
  justify-content: center;
  padding: 0;
  vertical-align: middle;
  width: 100%;
  flex-wrap: wrap;
  gap: 1em;
  margin: 0;
}
#header-box ul li {
  list-style: none;
  padding: 10px 0;
}
#header-box ul li a {
  color: lightgrey;
  text-decoration: none;
  min-width: 90px;
  display: block;
  text-align: center;
  padding: 4px 16px;
}
#header-box ul li a:hover {
  color: #fff
}
#link_home {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-self: center;
}
#logo_home {
  height: 30px;
  display: block;
  filter: brightness(100) contrast(0.6);
  transition: .1s;
  min-width: 90px;
  object-fit: contain;
}
#logo_home:hover {
  filter: brightness(100);
}

/* Effet de soulignement au survol */
.hover-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hover-title {
	position: relative;
}
.hover-title::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 3px;
	background-color: whitesmoke;
	left: 50%;
	bottom: -10px;
	transition: all 0.3s ease-in-out;
}
.hover-container:hover .hover-title::after {
	width: 100%;
	left: 0;
}

section#main {
  max-width: 1040px;
  color: #CCCCCC;
  padding: 2em 1em;
  /*overflow: hidden; can't use with scroll margin*/
  margin: auto;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}
section#main p{
  text-align: justify;
  display: inline-block;
}

footer{
  text-align: center;
  padding: 10px;
  background-color: var(--secondary-bg-color);
  color: lightgray;
}
#logo_trad {
  width: 40px;
  vertical-align: middle;
}

/* Boutons liens externes */
.social {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  z-index: 4;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.social a {
  display: block;
  background-color: var(--secondary-bg-color);
  border-radius: 15%;
  padding: 8px;
  transition: all .1s ease-in-out;
}
.social a:hover {
  transform: scale(1.2);
}
.social img {
  width: 34px;
  height: 34px;
  display: block;
}
@media screen and (max-width: 1040px), screen and (orientation: portrait) {
  .social {
    display: none;
  }
}


/* À propos */
.team-list,.team-list li,.team-list ul {
  list-style-type: square;
  text-align: center;
  display: block;
  padding: 0;
  margin: 0;
}
.team-list h3 {
  margin-top: 2em;
  margin-bottom: 0.6em;
}