@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  color-scheme: dark;
  --main-bg-color: #0b0b0e;/*#0d0d11*/
  --secondary-bg-color: #2a2b3673;/*#2a2b364f;*/

  /* Inutilisées mais peuvent servir */
  --progression-fate: rgb(5, 67, 149);
  --progression-ubw: rgb(134, 18, 5);
  --progression-hf: rgb(98, 46, 98);
  --progression-last-episode: rgb(5, 115, 34);
  --progression: rgb(102, 118, 5);
}

html {
  width: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  color: #fff;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: overlay;
}
header {
  background-color: var(--secondary-bg-color);
  position: fixed;
  z-index: 3;
}
a {
  color: #2895f3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  margin: 2em 0;
  border-style: solid;
}
#header-box, #main, footer, header {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.1rem;
}
#header-box ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  vertical-align: middle;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 12px 0;
}
#header-box ul li {
  list-style: none;
}
#header-box ul li a {
  color: white;
  text-decoration: none;
  min-width: 90px;
  display: block;
  text-align: center;
  padding: 4px 16px;
}

/* Effet de soulignement au survol */
.hover-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hover-title {
	position: relative;
}
.hover-title::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 3px;
	background-color: whitesmoke;
	left: 50%;
	bottom: -12px;
	transition: all 0.3s ease-in-out;
}
.hover-container:hover .hover-title::after {
	width: 100%;
	left: 0;
}

section#main {
  max-width: 980px;
  color: #CCCCCC;
  padding: 10px;
  overflow: hidden;
  margin: auto;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}
section#main p{
  text-align: justify;
  display: inline-block;
}

footer{
  margin-top: 2rem;
  text-align: center;
  padding: 10px;
  background-color: var(--secondary-bg-color);
}
#logo_trad {
  width: 40px;
  vertical-align: middle;
}

/* Boutons liens externes */
.social {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  z-index: 4;
}
.social img {
  width: 34px;
  height: 34px;
  background-color: var(--secondary-bg-color);
  border-radius: 15%;
  padding: 8px;
  margin: 2px;
  transition: all 50ms ease-in-out;
}
.social-discord:hover img, .social-github:hover img, .social-youtube:hover img {
  transform: scale(1.1);
}
@media screen and (max-width: 1040px), screen and (orientation: portrait) {
  .social {
    display: none;
  }
}


/* À propos */
.team-list,.team-list li,.team-list ul {
  list-style-type: square;
  text-align: center;
  display: block;
  padding: 0;
}
.team-list h3 {
  margin-top: 2em;
  margin-bottom: 0.6em;
}

/* Options */
.options li {
  margin: 0.8em 0;
}
.options h3 {
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
}