#progression{
  display: flex;
  gap: 2em;
  width: 100%;
  flex-wrap: wrap;
  color: white;
}
#progression h2{
  margin: 0;
  margin-block-end: 0.83em;
  position: absolute;
  top: 0;
  font-size: 4em;
  color: #58575e;
  font-variant: all-small-caps;
  width: min-content;
  line-height: 0.7em;
  z-index: -1;
}
#progression-fate, #progression-ubw, #progression-hf {
  flex: 1;
  position: relative;
  padding-top: 70px;
  overflow: hidden;
}
#progression-le {
  margin-bottom: 2em;
}
.pb-wrapper{
  width: 80%;
  height: 0.4em;
  background-color: #2d2d2d;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 2px;
}
.pb-bar{
  height: 100%;
  background-color: rgb(5, 67, 149);
}
.pb-text-wrapper {
  display: flex;
  align-items: baseline;
  place-content: space-between;
  margin-block-start: 1.5em;
  margin-block-end: 0.4em;
}
.pb-text{
  float: left;
  padding: 0 16px;
  color: rgb(175 175 175);
  display: none;
}
.barre-prog:hover .pb-text {
  display: block;
}
.flex-break{
  width: 100%;
}

.container {
  margin-left: auto;
  width: 100px;
  height: 100px;
  position: relative;
}

.progression-bottom-container {
  display: flex;
  place-content: space-evenly;
  width: 100%;
  flex-flow: wrap;
  gap: 10px;
}
.progression-bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.progression-bottom .container {
  margin: initial;
  float: left;
}

@media screen and (max-width: 400px) {
  #progression {
    flex-direction: column;
  }
}